.inputs {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

p {
  font-family: Montserrat;
  font-weight: 600;
}

.nome mat-form-field {
  width: 280px;
}

.inserir {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardinput {
  padding: 24px;
  background-color: #f5f5f5;
  gap: 16px;
}

.addbutton {
  margin-left: auto;
  margin-right: auto;
}
